<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class= "container">
    <form method="post" role="form">
    <h1 class="h3 mb-3 fw-normal">Please Enter Details</h1>
    <label for="activity" class="visually-hidden">Activity Type</label>
    <input type="activity" id="activity" name="activity" class="form-control" placeholder="Activity Type" required autofocus>
    <label for="date" class="visually-hidden">Date</label>
    <input type="date" id="date" name="date" class="form-control" placeholder="Choose Date" required autofocus>
  <br>
  <input class="w-100 btn btn-lg btn-primary" name="sbmit" value="Add" type="submit" >
  </form>
</body>
</html>